body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.player-email-button{
  max-width: 200px;
}

.nav-links {
  margin-left: 15px;
display: inline-block;
text-decoration:none;
color: white;
background-color:transparent;/*will change background-color of element */
}

.nav-links:hover {
background-color:rgb(0, 0, 0); /*will change background-color of element on hover */
color: white; /*will change color of text within the element on hover */
outline-color: white;
}
.about-us-container{
  margin-top: 10%;
  
}

.welcome-container{
  margin-top: 10%;
}
.thank-you-container{
  margin-top: 10%;
}
.background-1{
  margin-top: auto;
  background: url(../src/images/pexels-pavel-danilyuk-7403773.jpg) ;
  position: fixed; 
  top: 0; 
  left: 0; 
	
  /* Preserve aspect ratio */
  min-width: 100%;
  min-height: 100%;
}
.background-2{
  background: url(../src/images/pexels-cottonbro-6503759.jpg) ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  position: static;
}


.profile-container{
  margin-top: 75px;
  background: transparent;
  padding-bottom:200px;
  
}

.profile-button{
  color:#ffe2ad;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.background-3{
  margin-top: 89px;
  background: url(../src/images/PikPng.com_billiard-balls-png_3697455.png) ;
  position: static; 
  top: 0; 
  /* Preserve aspect ratio */
  min-width: 100%;
  min-height: 100%;
  background-repeat: no-repeat;
  overflow: auto;


}
.background-4{
  background-color: black;


}

.score-keep-container{
  margin-top:125px;
  margin-left: 125px;
  text-align: auto;


}
.overflow-auto{
  overflow:auto;
}

a:hover {
  color: #ffae00;
}

.text-background{
  color:#1d1e22;
  background-color: white;
  opacity: .7;
}

.font45{
  font-size: 45px;
}

.textshadow{
  text-shadow: 2px 2px #ff9900
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sign-up-container {
  color: #feda6a;
  background-color: transparent;
  text-align: center;
  margin-top:15%;
  max-width:680px;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.checkbox{
text-align: left;

}

.ball-object
{
  width: 75px;
}

.ball-category
{
  font-size: 3.5rem 
}

.dropped
{
opacity: 0.4
}

.modal-container{
padding: 32px;
min-width:680px;
      color: #feda6a;
      background-color: #393f4d;
      font-size: 24px;
      border: 4px solid #1d1e22;
      margin: auto;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

.player-button{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: #393f4d;
      background-color: #feda6a;
      font-size: 16px;
      border: 4px solid #1d1e22;
      margin-left: 2px;

}

.go-back-container{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #feda6a;
background-color: #1d1e22;
font-size: 16px;
border: 1px solid #b9b9b9;
margin-left: 2px;
}

.header
{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #393f4d;
  background-color: #feda6a;
  font-size: 16px;
  border: 4px solid #1d1e22;
  margin-left: 2px;
  

}
.header {
  background-color: #ddd;
  color: black;
  
}

.logout
{
  color: #feda6a;
  border: 1px solid #feda6a;
}

.logo-image{
  width: 75px;
  overflow: visible;
  margin-top: 1px;
}

